* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', serif;
}

#tetris {
    display: flex;
    width: 560px;
    margin: 3em auto;
}

#my-canvas {
    width: 300px;
    height: 480px;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 470px;
    width: 240px;
}

#info > #logo {
    flex-basis: auto;
    margin-top: 7px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8caf4;
}

#info > #score-envelope {
    flex-basis: 8%;
    border: 2px solid #B0B0B0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#info > #level-envelope {
    flex-basis: 8%;
    border: 2px solid #B0B0B0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#info > #status-envelope {
    flex-basis: 8%;
    border: 2px solid #B0B0B0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#info > #controls-envelope {
    flex-basis: auto;
    border: 2px solid #B0B0B0;
    border-radius: 5px;
    padding: 0.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info > #btn-reset {
    flex-basis: auto;
}

.button {
    margin: 0.4em;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    min-width: 100px;
    font-weight: bold;
    background-color: #537fe4;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 2px #aaa;
  }

.button:hover {
    background-color: #2B60DE;
}

.button:active {
    background-color: #2B60DE;
    box-shadow: 0 3px #888;
    transform: translateY(2px);
}

#controls > .one-btn {
    display: flex;
    justify-content: center;
}

#controls > .two-btn {
    display: flex;
    justify-content: space-between;
}

.label {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0.5em;
    padding-left: 0.5em;
}

.source {
    display: flex;
    width: 540px;
    margin: -40px auto;
    font-size: 12px;
}

#btn-reset{
    background: #2B60DE;
    color: #fff;
    font-weight: bold;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    outline: none;
}

#btn-reset:hover {
    background-color: #1e4fc2;
}

#btn-reset:active {
    background-color: #1e4fc2;
    transform: translateY(2px);
}
